<div class="container">
<div>
  <%= link_to root_path, class: "text-decoration-none text-dark" do %>
    <h1>My Movie Search 🎬</h1>
    <p id="quote">Built with Rails-ActiveRecord-OMDb API by Rizky</p>
  <% end %>
</div>
  <div class="row justify-content-center">
  <div class="col-sm-8 my-3 mb-5">
    <%= form_with url: root_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword e.g. 'Harry Potter'"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
  <div class="row" id="movie-cards">
  <% if @data['totalResults'].present?  %>
    <p><%= "#{@data['totalResults']} results for '#{params[:query]}'" %></p>
    <% else %>
      <p>&nbsp;</p>
    <% end %>
        <%# <div class="card mb-2"> %>
        <%# <div class="card-body"> %>

        <% if @movies.any? %>
          <% @movies.each do |movie| %>
          <div class="col-lg-3 col-md-4 col-sm-6 col-12" id="mymovies">
            <div class="card mb-2">
              <img src="<%=movie['Poster']%>" class="card-img-top" alt="">
              <div class="card-body">
                <span class="badge bg-primary mb-2"><%= movie['Year'] %></span>
                <h5 class="card-title"><%= movie['Title'] %></h5>
              </div>
            </div>
          </div>
          <% end %>
            <% if @data['totalResults'].to_i > 10 %>
              <div class="col-12 col-sm-6 d-flex flex-column align-items-center justify-content-center">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item <% 'disabled' if @page.to_i <= 1 %>">
                      <%= link_to root_path(query: params[:query], page: @page.to_i - 1), class: "page-link text-center d-flex align-items-center justify-content-center" do %>
                      <i class="fa-solid fa-circle-arrow-left icon-margin-left"></i>Previous
                      <% end %>
                    </li>
                    <li class="page-item">
                      <%= link_to root_path(query: params[:query], page: @page.to_i + 1), class: "page-link text-center d-flex align-items-center justify-content-center" do %>
                      Next<i class="fa-solid fa-circle-arrow-right icon-margin-right"></i>
                      <% end %>
                    </li>
                  </ul>
                </nav>
                <%= link_to root_path, class: "text-dark mt-3 page-link text-center d-flex flex-column align-items-center justify-content-center" do %>
                  <i class="fa-solid fa-magnifying-glass"></i>
                  <p>New Search</p>
                <% end %>
              </div>
              <% end %>
        <% elsif params[:query].present? && @data['Response'] == 'False' %>
        <em>Sorry, no movies found.</em>
        <% else %>
          <em>Search a movie.</em>
        <% end %>
      </div>
  </div>
